@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.container1 {
    background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
    height: 77px;
    display: flex;
    padding: 0 128px;
    justify-content: space-between;
    align-items: center;
}

.header_phone {
    display: flex;
    gap: 12px;
}

.header_phone-text {
    padding-top: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 10px;
    color: #FFFFFF;   
}

.header_gps {
    display: flex;
    gap: 8px;
}

.header_gps-text {
    padding-top: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: #FFFFFF;
    
}

.header_insta {
    width: 300px;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.header_insta-text {
    padding-top: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.container2 {
    height: 704px;
    margin-top: 47px;
    padding: 0 87px;
    position: relative;
}

.info_top {
    display: flex;
    justify-content: space-between;
}

.info_top-logo {
    text-transform: uppercase;
    display: flex;
    gap: 11px;
    align-items: center;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.info_top-nav {
    margin-top: 8px;
    display: flex;
    gap: 25px;
}

.info_top-nav-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #737373;
}

.info_bg1 {
    position: absolute;
    top: 18px;
    right: 55px;
    z-index: -2;
}

.info_bg2 {
    position: absolute;
    top: 94px;
    right: 87px;
}
.info_block1 {
    transform: rotate(-36.87deg);
    position: absolute;
    left: 87px;
    bottom: 42px;
}

.info_block2 {
    transform: rotate(-36.87deg);
    position: absolute;
    left: 144px;
    bottom: 115px;
}

.info_block3 {
    transform: rotate(-36.87deg);
    position: absolute;
    left: 173px;
    bottom: 100px;
}

.info_block4 {
    position: absolute;
    top: 198px;
    left: 352px;
}

.info_block5 {
    position: absolute;
    top: 189px;
    left: 333px;
}

.info_bot-title {
    width: 50%;
    margin-top: 190px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 59px;    
    color: #000000;
}

.info_bot-text {
    margin-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.info_bot-btn {
    text-transform: uppercase;
    margin-top: 20px;
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
    text-transform: uppercase;
    border-radius: 7px;
    text-align: center;
    padding: 15px 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.container3 {
    margin-top: 25px;
    padding: 0 143px;
    position: relative;
}

.info_rug-main--text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    color: #000000;    
}

.info_rug-special--text {
    text-transform: uppercase;
    background-image: linear-gradient(#B90160, #3D5BF5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info_rug-info {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}

.info_rug-title {
    margin-top: 23px;
    padding-left: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.info_rug-text {
    margin-top: 10px;
    padding-left: 22px;
    padding-bottom: 23px;
    padding-right: 33px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #767676;
}

.info_rug-material {
    width: 344px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px 10px #F2E3EA;
    border: solid 1px #F2E3EA;
    border-radius: 9px;
}

.info_rug-material img {
    border-radius: 9px;
}

.info_rug-contrast {
    width: 344px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px 10px #F2E3EA;
    border: solid 1px #F2E3EA;
    border-radius: 9px;
}

.info_rug-contrast img {
    border-radius: 9px;
}

.info_rug-color {
    width: 344px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px 10px #F2E3EA;
    border: solid 1px #F2E3EA;
    border-radius: 9px;
}

.info_rug-color img {
    border-radius: 9px;
}

.info_block6 {
    position: absolute;
    bottom: -130px;
    left: 0px;
    z-index: -1;
}

.info_block7 {
    position: absolute;
    bottom: -55px;
    left: 467px;
    z-index: -1;
}

.info_block8 {
    position: absolute;
    left: 397px;
    bottom: -163px;
    z-index: -1;
}

.container4 {
    margin-top: 225px;
    height: 357px;
    background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
}

.info_review {
    height: 100%;
    position: relative;
    max-width: 100%;
    overflow-x: hidden;
}

.info_review-person1 {
    width: 536px;
    height: 187px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    position: absolute;
    left: -135px;
    top: 97px;
    opacity: 0.5;
}

.info_review-person1--img {
    margin-top: -90px;
}

.info_review-person2 {
    width: 536px;
    height: 187px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    position: absolute;
    left: 0;
    right: 0;
    top: 98px;
    margin-left: auto;
    margin-right: auto;
}
.info_review-person2--img {
    margin-top: -90px;
}

.info_review-person3 {
    width: 536px;
    height: 187px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    position: absolute;
    right: -135px;
    top: 98px;
    opacity: 0.5;
}

.info_review-person3--img {
    margin-top: -90px;
}

.info_review-img {
    text-align: center;
}

.info_review-text {
    margin-top: -15px;
    padding-left: 44px;
    padding-right: 47px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;    
}

.info_review-line {
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    width: 130px;
    background: linear-gradient(90deg, #D4145A, #3D5BF5);
    border-radius: 2px;
}

.info_review-name {
    margin-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #8E8E8E; 
    margin-bottom: 15px;   
}

.info_review-box {
    margin-bottom: 20px;
}

.footer {
    padding: 150px 143px;
    display: flex;
    justify-content: space-between;
}

.footer_media {
    width: 225px;
}

.footer_phone {
    width: 225px;
}

.footer_info {
    width: 225px;
}

.footer_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #000000;    
    margin-bottom: 10px;
}

.footer_phone-number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 10px;
    color: #000000;
}

.footer_phone-number--1 {
    margin-bottom: 10px;
}

.footer_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #000000;    
}

@media (max-width:1350px) {
    .container3 {
        padding: 0 75px;
    }
}

@media (max-width: 1200px) {
    .container3 {
        padding: 0 70px
    }


    .info_rug-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info_rug-material {
        width: 800px;
    }
    .info_rug-material--img {
        width: 100%;
        height: 300px;
    }

    .info_rug-contrast {
        width: 800px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .info_rug-contrast--img {
        width: 100%;
        height: 300px;
    }

    .info_rug-color {
        width: 800px;
    }
    .info_rug-color--img {
        width: 100%;
        height: 300px;
    }
    .info_review {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }
    .info_review-person1 {
        margin-top: 100px;
        position: static;
        z-index: 2;
        opacity: 1;
    }
    .info_review-person2 {
        position: static;
        z-index: 2;
    }
    .info_review-person3 {
        position: static;
        z-index: 2;
        margin-bottom: 100px;
        opacity: 1;
    }
    .container4 {
        height: auto;
    }
    
}

@media (max-width: 1075px) {
    .container1 {
        height: 150px;
        padding: 0 75px;
    }
    .header_phone {
        width: 200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header_insta {
        width: 200px;
    }
    .info_rug-material {
        width: 600px;
    }
    .info_rug-material--img {
        width: 100%;
        height: 300px;
    }

    .info_rug-contrast {
        width: 600px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .info_rug-contrast--img {
        width: 100%;
        height: 300px;
    }

    .info_rug-color {
        width: 600px;
    }
    .info_rug-color--img {
        width: 100%;
        height: 300px;
    }
    .footer {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
}

@media (max-width: 768px) {
    .header_phone {
        display: none
    }
    .container1 {
        flex-wrap: wrap;
    }
    .info_top-nav {
        display: none;
    }
    .info_bg1 {
        display: none;
    }
    .info_bot-title {
        margin-top: 100px;
    }
    .info_rug-material {
        width: 400px;
    }
    .info_rug-material--img {
        width: 100%;
        height: 150px;
    }

    .info_rug-contrast {
        width: 400px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .info_rug-contrast--img {
        width: 100%;
        height: 150px;
    }

    .info_rug-color {
        width: 400px;
    }
    .info_rug-color--img {
        width: 100%;
        height: 150px;
    }

    .info_review-person1 {
        width: 400px;
        height: 100%;
        margin-top: 100px;
        position: static;
        z-index: 2;
        opacity: 1;
    }
    .info_review-person2 {
        width: 400px;
        height: 100%;
        position: static;
        z-index: 2;
    }
    .info_review-person3 {
        width: 400px;
        height: 100%;
        position: static;
        z-index: 2;
        margin-bottom: 100px;
        opacity: 1;
    }
    .container4 {
        height: auto;
    }
}

@media (max-width: 500px) {
    .container2 {
        display: flex;
        flex-wrap: wrap;
    }
    .info_bot-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 40px;
        color: #000000;
    }
    .info_bot-title {
        margin-top: 50px;
    }
    .info_top-logo {
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 900;
        font-size: 18px;
        line-height: 21px;
        
        color: #000000;
        
    }
    .info_block1 {
        margin-bottom: 0px;
    }
    .info_block2 {
        margin-bottom: 0px;
    }
    .info_block3 {
        margin-bottom: 0px;
    }
    .info_review-person1 {
        width: 300px;
        height: 100%;
        margin-top: 100px;
        position: static;
        z-index: 2;
        opacity: 1;
    }
    .info_review-person2 {
        width: 300px;
        height: 100%;
        position: static;
        z-index: 2;
    }
    .info_review-person3 {
        width: 300px;
        height: 100%;
        position: static;
        z-index: 2;
        margin-bottom: 100px;
        opacity: 1;
    }
    .container4 {
        height: auto;
    }
}

@media (max-width: 450px) {
    .header_insta {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }

    .header_gps {
        width: 100%;
        justify-content: center;
    }
    .container1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info_bot-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 25px;
        line-height: 25px;
        text-align: center;
        color: #000000;
        margin-top: -60px;
    }
    .info_rug-material {
        width: 300px;
    }
    .info_rug-material--img {
        width: 100%;
        height: 200px;
    }

    .info_rug-contrast {
        width: 300px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .info_rug-contrast--img {
        width: 100%;
        height: 200px;
    }

    .info_rug-color {
        width: 300px;
    }
    .info_rug-color--img {
        width: 100%;
        height: 200px;
    }
}

@media (max-width: 390px) {

}

@media (max-width: 330px) {
    .header_phone {
        display: flex;
    }

    .header_phone-img {
        display: none;
    }

    .header_gps {
        margin-top: 10px;
    }

    .header_gps-img {
        display: none;
    }

    .header_insta {
        display: none;
    }
    .info_review-person1 {
        width: 200px;
        height: 100%;
        margin-top: 100px;
        position: static;
        z-index: 2;
        opacity: 1;
    }
    .info_review-person2 {
        width: 200px;
        height: 100%;
        position: static;
        z-index: 2;
    }
    .info_review-person3 {
        width: 200px;
        height: 100%;
        position: static;
        z-index: 2;
        margin-bottom: 100px;
        opacity: 1;
    }
    .container4 {
        height: auto;
    }
}